.second_paralaxBackground {
    height: 100vh;
}

.numbers_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers_container p {
    font-family: var(--roboto);
    color: var(--white);
    font-size: 32px;
    padding: 10px;
    z-index: 50;
    font-weight: 600;
    text-align: center;
}
.numbers_container p:nth-child(2){
    background-image: linear-gradient(to right, rgb(255, 116, 116), rgb(255, 234, 117));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}
@media screen and (min-width: 1920px) {
    .numbers_container p {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px) {
    .numbers_container p {
        font-size: 25px;
    }
}