.skills_container {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.skills_container>h1 {
    font-family: var(--roboto);
    color: var(--white);
    position: absolute;
    top: 6rem;
    font-size: 30px;
}

.first_set_of_skills_and_icons,
.second_set_of_skills_and_icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
    position: absolute;
}

.first_set_of_skills_and_icons {
    top: 180px;
}

.second_set_of_skills_and_icons {
    top: 290px;
}

.first_set_icons,
.first_set_skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_set_icons svg {
    width: 93px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.html_icon,
.css_icon,
.react_icon {
    width: 35px;
    height: 35px;
}

.html_icon {
    color: #007bff;
}

.css_icon {
    color: #ff0000;
}

.javascript_icon {
    width: 29px;
    height: 29px;
    color: #f0db4f;
}

.react_icon {
    color: #61dafb;
}

.first_set_skills p {
    width: 93px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-weight: 500;
    font-family: var(--roboto);
    color: var(--white);
}

/* second set skills*/


.second_set_icons svg {
    width: 93px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    animation: toggledContainer 0.3s;
}

@keyframes toggledContainer {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes secondButton {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.skills_separator {
    width: 60%;
    height: 2px;
    background-color: #9b9b9b;
    border-radius: 1px;
    animation: toggledContainer 1.3s;
    margin-top: 10px;
    position: absolute;
    top: 276px;
}

.button_show_more,
.button_show_less {
    position: absolute;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: var(--roboto);
    background: transparent;
    color: var(--white);
    border: 1.5px solid rgb(152, 152, 152);
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease-out;
}

.button_show_more {
    top: 290px;
    animation: toggledContainer 0.3s;
}

.button_show_less {
    top: 380px;
    animation: secondButton 0.3s;
}

/* show more button styles */
.button_show_more::before,
.button_show_less::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: left;
    background-color: transparent;
    border-radius: 6px;
}

.button_show_more:hover::before,
.button_show_less:hover::before {
    transform: scaleX(1);
    background-color: white;
}

.button_show_more:hover,
.button_show_less:hover {
    color: black;
    border: 1.5px solid var(--white);
}

@keyframes secondSetIcons {
    0% {
        opacity: 0;
        transform: translateX(200px);
        scale: 0.5;
    }

    100% {
        opacity: 1;
        transition: translateX(0);
        scale: 1;
    }
}
/* icons and text animations*/
.responsive_icon, .second_set_icons div:nth-child(1) p{
    animation: secondSetIcons 0.5s ease !important
}
.puzzle_icon, .second_set_icons div:nth-child(2) p {
    animation: secondSetIcons 0.7s ease !important
}
.bootstrap_icon, .second_set_icons div:nth-child(3) p {
    animation: secondSetIcons 0.9s ease !important
}
.vite_icon, .second_set_icons div:nth-child(4) p {
    animation: secondSetIcons 1.1s ease !important
}
.heroku_icon, .second_set_icons div:nth-child(5) p {
    animation: secondSetIcons 1.3s ease !important
}
.team_icon, .second_set_icons div:nth-child(6) p {
    animation: secondSetIcons 1.4s ease !important
}
/* icons color */
.responsive_icon{
    color: #f39c12;
}
.puzzle_icon{
    color: #16a085;
}
.bootstrap_icon{
    color: #7952b3;
}
.vite_icon{
    color: #f7c52c;
}
.heroku_icon{
    color: #a0adbc;
}
.team_icon{
    color: #e73c3c;
}

.second_set_icons{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.second_set_icons div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.second_set_icons p{
    text-align: center;
    width: 90px;
    color: var(--white);
    font-family: var(--roboto);
}

@media screen and (min-width:1920px){
    .skills_container{
        align-items: center;
        justify-content: flex-start;
    }
    .first_set_of_skills_and_icons{
        position: static;
    }
    .second_set_of_skills_and_icons{
        margin-top: 170px;
    }
    .skills_separator{
     margin-top: 150px;
     max-width: 1000px;
    }
    .skills_container h1{
        font-size: 45px;
        margin: 100px 0 50px 0;
        position: static;
    }
    .html_icon,
    .css_icon,
    .react_icon {
        width: 50px;
        height: 50px;
    }
    .javascript_icon{
        width: 40px;
        height: 40px;
    }
    .second_set_icons div{
        margin: 0 5px;
    }
    .button_show_more{
        position: relative;
        top: 50px;
    }
    .button_show_less{
     position: relative;
     top: 190px;
    }
    .second_set_icons div p, .first_set_skills p {
        font-size: 20px;
        width: 110px;
    }
    .second_set_icons div svg{
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width:850px){
    .second_set_icons div{
        width: unset;
    }
.second_set_icons{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 25px;
    width: 90vw;
    gap:35px 0;
}
.button_show_less{
    margin-top: 150px;
}
}



@media screen and (max-width:450px){
    .first_set_of_skills_and_icons{
        margin-top: -10px;
    }
    .skills_container h1{
        font-size: 25px;
    }
    .html_icon,
    .css_icon,
    .react_icon {
        width: 30px;
        height: 30px;
        margin: 0 0 10px 0 !important;
    }
    .javascript_icon{ 
        width: 26px;
        height: 26px;
        margin: 0 0 10px 0 !important;
    }
    .first_set_skills p, .second_set_icons div p{
        font-size: 15px;
        margin: 0;
    }
    .button_show_more, .button_show_less{
        font-size: 17px;
        padding: 7px 14px;
        border-radius: 5px;
    }
    .button_show_more::before, .button_show_less::before{
        border-radius: 2px;
    }
    .skills_separator{
        width: 90%;
        margin-top: -6px  !important;
    }
    .first_set_of_skills_and_icons{
        margin-bottom: 0px;
    }
    .second_set_icons{
        padding: 0;
    }
    .second_set_icons div svg{
      width: 29px;
      height: 29px;
      margin: 0 0 10px 0;
    }
    .second_set_icons div{
        margin: 0 10px;
        width: 80px;
    }
}
@media screen and (max-height:640px){
    .skills_container{
         height: 110vh;
    }
}
@media screen and (max-height:560px){
    .skills_container{
         height: 120vh;
    }
}
@media screen and (max-height:520px){
    .skills_container{
         height: 130vh;
    }
}
@media screen and (max-width:333px){
    .second_set_icons div{
       margin: 0 5px;
    }
}


