.folder_container{
   width: calc((100vw - 60px - 94px) / 3);
   height: 33vh;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   opacity: 0.8;
}
.firstF{
   left: 100px;
   top:-200px;
   z-index: 5;
}
.secondF{
   z-index: 4;
}
.thirdF{
   right:100px;
   bottom: -200px;
   z-index: 3;
}
.folder_title{
width: 100%;
z-index: 99;
}
.folder_title h1{
   font-family: var(--roboto);
   font-size: 18px;
   letter-spacing: 0.5px;
   color: white;
}
.folder_image_container{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.folderAddedStyles{
   animation: folderStyles 0.2s ease-out forwards;
}
@keyframes folderStyles {
   0%{
   }
   100%{
    opacity: 1;
    transform: scale(1.05);
    z-index: 80;
   }
}
.folder_image_container span{
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    overflow: hidden;
}
.folder_image_container span img{
   width: 100%;
   object-fit: contain;
   border-radius: 0 5px 5px 5px;
}
@media screen and (max-width: 950px){
   .folder_container{
      position: inherit;
   }
   .folder_container{
     height: unset;
     margin: 20px 0;
     width: 100%;
   }
} 
@media screen and (max-width:450px){
   .projects_folders_container{
      /* width: calc(100vw - 60px - 55px); */
      width: calc(100vw - 40px - 53px);
   }
}