
#loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
}
#loading h1{
     width: 100%;
     text-align: center;
     color: var(--white);
     font-family: var(--roboto);
}


