  @import url('https://fonts.googleapis.com/css2?family=Borel&family=Londrina+Outline&family=Roboto:wght@300;500&display=swap');

:root{
    --roboto: 'Roboto', sans-serif;
    --outlineL: 'Londrina Outline', cursive;
    --borel: 'Borel', cursive;    
    --white: #f5f5f7;
}

html{
    overflow: hidden;
    overflow-y: scroll;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    /* in projects cand se roteste e buleala */
}

a{
    text-decoration: none;
    color: var(--white);
}

